@font-face {
  font-family: 'Norse Bold';
  src: url('fonts/Norse-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input:required {
  border-color: red;
}

input:valid {
  border-color: green;
}

h2 {
  font-family: 'Norse Bold', sans-serif;
  font-size: 2em;
  margin: 0;
}

html,
body {
  font: 1em/ 1.4 'Helvetica Neue', Arial, sans-serif;
  height: 100%;
  margin: 0;
}

button,
input,
select {
  appearance: none;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

.branding {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 50vw;
}

.credit {
  font-size: 0.8em;
  margin-top: 1em;
  text-align: center;
}

.description {
  font-size: 1.2em;
  margin: 0 0 1em 1em;
  max-width: 35vw;
}

.field-container {
  display: flex;
  flex-direction: column;
}

.form-fields-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.logo {
  margin: 0 1em 0 0;
}

.main {
  display: flex;
  height: 100%;
  align-items: center;
}

.side {
  background: url('img/background.avif');
  flex: 1;
  color: #888;
}

.white-background {
  background-color: white;
}
